.workshop-section,
.feedback-section
  background-color: #fff
  color: $color-main
  
.about-us-section,
.footer-section
  background-color: $color-main
  color: #fff

.parallax
  background-color: transparent
  position: relative

  &.top
    +md-block
      height: 480px
      min-height: 480px
    +xxs-block
      height: 400px
      min-height: 400px
    height: 680px
    min-height: 680px

  &.bottom
    +sm(display, none)
    +md-block
      min-height: 440px
      height: 440px
    min-height: 640px
    height: 640px

.workshop
  +wrapper()

.products
  +col-padding()
  +size-full(9)
  +size-full-lg(9)
  +size-full-md(9)
  +size-full-sm(12)
  +size-full-xs(12)
  +size-full-xxs(12)

.pagination
  +col-padding()
  +size-full(12)
  padding: 30px
  padding-bottom: 50px
  justify-content: center
  display: flex

.about-us
  &-text
    +md(padding, 0 15px)
    text-align: center
    font-size: 17px
    line-height: 30px
    padding: 0 15%

  &-section
    .grid-row
      justify-content: center
      padding:
        top: 50px
        bottom: 40px

    .icon
      +col()
      +size(2)
      +size-lg(2)
      +size-md(2)
      +size-sm(2)
      +size-xs(6)
      +size-xxs(6)
      text-align: center
      margin-bottom: 15px

      i
        font-size: 50px
        +xs(font-size, 30px)

      p
        margin-top: 10px
        font-size: 15px

.feedback
  padding-bottom: 50px

  .contacts
    text-align: center
    letter-spacing: 2px
    margin-bottom: 20px
    font-size: 16px

  .feedback-form
    +md(padding, 0)
    padding: 0 20%
